button {
    background-color: crimson;
    color: white;
}

button:hover {
    background-color: mediumaquamarine;
    color: black;
}

button:active {
    background-color: darkblue;
    color: lightcyan;
}